extends ../shared/layout

block main-content
	.container(ng-controller='ProductsController as vm')
		div(class='well col-md-8')
			form.form-horizontal
				fieldset
					legend 
						| Add product
					.form-group
						label(class='col-md-2 control-label', for='category')
							| Category
						.col-md-10
							select(class='form-control', id='category', ng-model='product.category')
								option Chair
								option Table
								option Desc
								option Cabinet
					.form-group
						label(class='col-md-2 control-label', for='name')
							| Name
						.col-md-10
							input(type='text', class='form-control', placeholder='Name', id='name', ng-model='product.name')
					.form-group
						label(class='col-md-2 control-label', for='description')
							| Description
						.col-md-10
							textarea(class='form-control', rows='3', id='description', ng-model='product.description')
					.form-group
						label(class='col-md-2 control-label', for='price')
							| Price
						.col-md-10
							input(type='number', class='form-control', placeholder='Price', id='price', ng-model='product.price')
					.form-group
						div(class='col-md-10 col-md-offset-2')
							button(class='btn btn-primary', ng-click='vm.createProduct(product)') Submit
