extends ../shared/layout

block main-content
	.container
		.col-md-6.col-md-offset-3
			.well
				form.form-horizontal(method="post", action="")
					fieldset
						legend Login
						.form-group
							label.col-md-2.control-label(for="username") Username
							.col-md-10
								input.form-control(id="username" type="text" name="username" placeholder="Username")
						.form-group
							label.col-md-2.control-label(for="password") Password
							.col-md-10
								input.form-control(id="password" type="password" name="password" placeholder="Password")
						.form-group
							col-md-10.col-md-offset-2
								button.btn.btn-primary(type="submit") Login
