extends ../shared/layout

block main-content
	.container
		.col-md-6.col-md-offset-3
			.well
				form(method="post", action="", class='form-horizontal')
					fieldset
						legend Register
						.form-group
							label.col-md-2.control-label(for="username") Username
							.col-md-10
								input.form-control(id="username" type="text" name="username" placeholder="Username")
						.form-group
							label.col-md-2.control-label(for="firstName") First Name
							.col-md-10
								input.form-control(id="firstName" type="text" name="firstName" placeholder="First Name")
						.form-group
							label.col-md-2.control-label(for="lastName") Last Name
							.col-md-10
								input.form-control(id="lastName" type="text" name="lastName" placeholder="Last Name")
						.form-group
							label.col-md-2.control-label(for="phone") Phone
							.col-md-10
								input.form-control(id="phone" type="text" name="phone" placeholder="Phone")
						.form-group
							label.col-md-2.control-label(for="password") Password
							.col-md-10
								input.form-control(id="password" type="password" name="password" placeholder="Password")
						.form-group
							label.col-md-2.control-label(for="confirmPassword") Confirm Password
							.col-md-10
								input.form-control(id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password")
						.form-group
							col-md-10.col-md-offset-2
								button(type="reset" class="btn btn-default") Cancel
								button(type="submit" class="btn btn-primary") Register