extends ../shared/layout

block main-content
	div(class='container' ng-controller='UsersController as vm')
		h1 Users
		.col-md-3
			.form-group
				label.col-md-2.control-label(for='sortby')
					| Sort by
				.col-md-10
					select.form-control(id='sortby', ng-model='vm.request.sortBy')
						option(value='username') Username
						option(value='firstName') First Name
						option(value='lastName') Last Name
		.col-md-3
			.form-group
				label.col-md-2.control-label(for='type')
					| Type
				.col-md-10
					select.form-control(id='type', ng-model='vm.request.type')
						option(value='asc') Ascending
						option(value='desc') Descending
		.col-md-2
			.form-group
				label.col-md-3.control-label(for='pageSize')
					| Page size
				.col-md-9
					input.form-control(type='number', id='pageSize', ng-model='vm.request.pageSize')
		.col-md-2
			.form-group
				label.col-md-3.control-label(for='page')
					| Page
				.col-md-9
					input.form-control(type='number', id='page', ng-model='vm.request.page')
		.col-md-2
			.form-group
				button.btn.btn-primary.btn-raised(ng-click='vm.filterUsers()') Filter
		<br>
		table.table.table-stripped.table-hover
			thead
			tr
				th Username
				th First Name
				th Last Name
				th Phone
				th IsAdmin
			tbody
				each user in users
					tr
						td
							a(href="/admin/profile?id=" + user._id)= user.username
						td= user.firstName
						td= user.lastName
						td= user.phone
						if(user.roles.indexOf('admin') > -1)
							td
								i.material-icons check_circle
						else
							td
								i.material-icons block