doctype
html
    head
        title Simple Onliine Shop

        link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type='text/css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/app.css")
        link(rel="stylesheet" href="/lib/bootstrap-material-design/dist/css/bootstrap-material-design.css")
        link(rel="stylesheet" href="/lib/bootstrap-material-design/dist/css/ripples.min.css")
    body(ng-app="myApp")
        header.navbar.navbar-default
              .container
                  .navbar-header
                      a.navbar-brand(href="/") Simple Online Store
                  .navbar-collapse.collapse
                      ul.nav.navbar-nav
                          li
                              a(href="/") Home   
                                  i.material-icons home
                          li
                              a(href="/live-chat") Live-Chat   
                                  i.material-icons chat
                          if (currentUser && currentUser.roles.indexOf('admin') > -1)
                              li
                                  a(href='bootstrap-elements.html' data-target='#' class='dropdown-toggle' data-toggle='dropdown') Admin Panel
                                      b.caret
                                  ul.dropdown-menu
                                      li
                                          a(href="/admin/products/add") Add product
                                      li
                                          a(href="/products?userId=" + currentUser._id) My products
                                      li.divider
                                      li
                                          a(href="/admin/users") Users
                      ul.nav.navbar-nav.navbar-right
                          if(currentUser)
                              li
                                a(href="/profile") Hello 
                                    span#currentUsername #{currentUser.username}   
                                    i.material-icons info
                              li
                                a(href="/logout") Logout   
                                    i.material-icons power_settings_new
                           else
                              li
                                a(href="/register") Register   
                                    i.material-icons person_add
                              li
                                a(href="/login") Login   
                                    i.material-icons mood
        .container
          if (errorMessage)
            .alert.alert-dismissible.alert-danger
                button.close(type='button', class='close' data-dismiss='alert') x
                .text-center #{errorMessage}
        block main-content
        include scripts