script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript" src="/lib/bootstrap-material-design/dist/js/ripples.min.js")
script(type="text/javascript" src="/lib/bootstrap-material-design/dist/js/material.min.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/underscore/underscore.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/common/data.js")
script(type="text/javascript" src="/app/products/products-controller.js")
script(type="text/javascript" src="/app/products/products-service.js")
script(type="text/javascript" src="http://cdn.pubnub.com/pubnub-3.7.15.min.js")
script(type="text/javascript" src="/app/live-chat/live-chat-controller.js")
script(type="text/javascript" src="/app/live-chat/live-chat-service.js")
