extends ../shared/layout

block main-content
	.container
		h1 Cart
		br
		table.table.table-stripped.table-hover
			thead
			tr
				th Category
				th Name
				th Price
				th
			tbody
				if (cart.length == 0)
					tr
						td
						td The Cart is Empty
						td
						td
				each product in cart
					tr
						td= product.category
						td= product.name
						td= product.price
						td
							a(class='btn',href='/cart/remove?itemId=' + product.id) Remove From Cart
				tr
					td Total:
					td
					td= cart.total
					td


		a.btn.btn-primary.pull-right Checkout