extends ../shared/layout

block main-content
	.container
		if (cart.length == 0)
			h1(style='text-align:center') Your Cart is Empty!
		else
			h1 Shopping Cart
		br
		if (cart.length > 0)
			table.table.table-stripped.table-hover
				thead
				tr
					th Category
					th Name
					th Price
					th
				tbody
					if (cart.length == 0)
						tr
							td
							td The Cart is Empty
							td
							td
					each product in cart
						tr
							td(style='vertical-align:middle')= product.category
							td(style='vertical-align:middle')= product.name
							td(style='vertical-align:middle')= product.price
							td(style='vertical-align:middle')
								a(class='btn btn-sm',href='/cart/remove?itemId=' + product.id) Remove From Cart
					tr
						td(style='vertical-align:middle') Total:
						td
						td(style='vertical-align:middle')= cart.total
						td
		a.btn.btn-primary.pull-left(href='/products') Back to the shop
		if (cart.length > 0)
			a.btn.btn-primary.pull-right(href='/checkout') Checkout
