extends ../shared/layout
block main-content
    .container(ng-controller='LiveChatController as vm')
      .panel.panel-primary
        .panel-heading
          h3.panel-title Online Support
        .panel-body
          .row
            #messagesBox.col-md-12
              each message in messages
                #holemsg
                  span.chat-username= message.username + ': ' 
                  span#textmessage= message.message
                  span.chat-date= message.time
          .row
            input(placeholder='Message' ng-model="vm.messageToSend" ng-keypress="vm.sendMessage($event)" type="text" class="col-md-12")